In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [9]:
mean = df.groupby('estado_residencia')['pontuacao_credito'].mean()

In [48]:
mean_df = pd.DataFrame(mean)
mean_df = mean_df.reset_index()
mean_df = mean_df.rename(columns = {'pontuacao_credito':'media'})

In [49]:
mean_df

  estado_residencia       media
0                PR  648.961294
1                RS  651.105143
2                SC  649.537653

In [50]:
median = df.groupby('estado_residencia')['pontuacao_credito'].median()
median_df = pd.DataFrame(median)
median_df = median_df.reset_index()
median_df = median_df.rename(columns = {'pontuacao_credito':'mediana'})

In [51]:
median_df

  estado_residencia  mediana
0                PR      650
1                RS      650
2                SC      653

In [52]:
mode = df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)
mode_df = pd.DataFrame(mode)
mode_df = mode_df.reset_index()
mode_df = mode_df.rename(columns = {'pontuacao_credito':'moda'})

In [53]:
mode_df

  estado_residencia  moda
0                PR   850
1                RS   850
2                SC   850

In [54]:
std = df.groupby('estado_residencia')['pontuacao_credito'].std()
std_df = pd.DataFrame(std)
std_df = std_df.reset_index()
std_df = std_df.rename(columns = {'pontuacao_credito':'desvio_padrao'})

In [55]:
std_df

  estado_residencia  desvio_padrao
0                PR      98.607186
1                RS      95.136598
2                SC      97.233493

In [59]:
unidas = pd.merge(mean_df, median_df, how = 'outer')

In [60]:
unidas

  estado_residencia       media  mediana
0                PR  648.961294      650
1                RS  651.105143      650
2                SC  649.537653      653

In [89]:
from functools import reduce

In [90]:
data_frames = [mode_df, median_df, mean_df, std_df]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['estado_residencia'],
                                            how='outer'), data_frames)

In [91]:
df_merged

  estado_residencia  moda  mediana       media  desvio_padrao
0                PR   850      650  648.961294      98.607186
1                RS   850      650  651.105143      95.136598
2                SC   850      653  649.537653      97.233493

In [92]:
df_merged.to_json('teste.json')

KeyError: 'estado_residencia'

In [99]:
df_merged.sort_values(by = 'estado_residencia', ascending = False, inplace = True)

In [102]:
df_merged.set_index('estado_residencia', inplace=True)

In [103]:
del df_merged.index.name

In [104]:
df_merged

    moda  mediana       media  desvio_padrao
SC   850      653  649.537653      97.233493
RS   850      650  651.105143      95.136598
PR   850      650  648.961294      98.607186

In [105]:
df_dict = df_merged.to_dict('index')

In [112]:
df_transposta = df_merged.T

In [113]:
df_transposta

                       SC          RS          PR
moda           850.000000  850.000000  850.000000
mediana        653.000000  650.000000  650.000000
media          649.537653  651.105143  648.961294
desvio_padrao   97.233493   95.136598   98.607186

In [117]:
df_transposta.to_json('submission.json')